*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

/* body {
    background-color: blue;
    background: linear-gradient(white, blue);
} */

.headercontainer {
    background-color: #C0D6E4;
    height: 150px;
    width: 100%;
    background-image: url(/5DayWeatherForecast/assets/images/header-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    margin: 10px;
    padding: 10px;
    display: inline;
    vertical-align: middle;
    width: 100%;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.searchside {
    display: flex;
    flex-direction: column;
    width: 25%;
    float: left;
    /* border: 5px solid purple;           WILL DELETE OR COMMENT OUT WHEN DONE, HIS HELPS ME SEE THE LAYOUT */

}

.searcharea{
    /* border: 5px solid yellow;           WILL DELETE OR COMMENT OUT WHEN DONE, HIS HELPS ME SEE THE LAYOUT */
    margin: 10px;
    padding: 10px;
    border-bottom: black 1px solid;
}

.btn {
    background-color: #9DC7CF;
    color: white;
}

.resultsSide{
    display: flex;
    flex-direction: column;
    width: 75%;
    float: right;
    /* border: 5px solid green;            WILL DELETE OR COMMENT OUT WHEN DONE, HIS HELPS ME SEE THE LAYOUT */
}

h2 , h3 {
    text-align: left;
    font-size: 30px;
}
