*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

body {
    color: #3A2D28;
}

.headercontainer {
    background-color: #D1C7BD;
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #F1EDE6;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px #3A2D28;
}

.searchside {
    width: 25%;
    float: left;
}

.form-label {
    color: #A48374;
}

.searcharea{
    margin: 10px;
    padding: 10px;
    border-bottom: black 1px solid;
}

.btn {
    background-color: #EBE3DB;
    color: #A48374;
    width: 100%;
}

#savedsearch button {
    width: 100%; 
    max-width: 300px;
    margin-bottom: 10px;
}

.resultsSide{
    flex-direction: column;
    width: 75%;
    float: right;
}

h2 , h3 {
    text-align: center;
    font-size: 30px;
    color: #CBAD8D
}

#todaysforecast {
    text-align: center; 
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #F1EDE6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#todaysforecast h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#today {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#icon {
    margin: 10px 0;
}

#today p {
    margin: 5px 0;
    font-size: 1.2em;
}

#today p#temp {
    font-weight: bold;
}

.fivedayforecast {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
}

#fiveday {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#fiveday .card {
    flex: 1 1 calc(20% - 20px);
    max-width: 200px;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

#fiveday .card-header {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    background-color: #EBE3DB;
    color: #A48374;

}

#fiveday .card-body {
    text-align: left;
    padding: 10px;
    background-color: white;
    color: #3A2D28;
}

#fiveday .card-text {
    margin: 5px 0;
}

#fiveday .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
